---

const { project } = Astro.props;
const { title, description, longDescription, iconPath, projectType, orientation, github, liveURL, technologiesUsed, demos, demoCaptions } = project;
---

<div class="dropdown">
    <button id="dropdown-button" class="info">
        <div id="dropdown-icon" data-title={title} class="w-1/4 flex justify-center">  
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
              </svg>                   
            </div>
        <div class="flex flex-col w-1/2 justify-center">
            <h1>{title}</h1>
            <p class="mb-2">{description}</p>
            <div class="flex justify-evenly">
              <a href={github} target="_blank" class="technology">GitHub</a>
              <a href={liveURL} target="_blank" class="technology">Live Demo</a>
            </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <img src={iconPath} class="icon"></img>
        </div>
    </button>
    <div id="dropdown-content" class="content">
      <div class={`${projectType}-${orientation} gap-8`}>
        <div class="flex flex-col items-center">
            <p>{longDescription}</p>
            <div class="technologies">
              {technologiesUsed.map((tech: string) => (
                <p class="technology">{tech}</p>
              ))}
            </div>
        </div>
        <div class="demo-content">
          {demos.map((demo: string, index: number) => (
            <div>
              <img src={demo}/>
              <p>{demoCaptions[index]}</p>
            </div>
          ))}
        </div>
      </div>
    </div>
</div>

<!-- transition: <property> <duration> <timing-function> <delay>; -->

<style>

    h1 {
      font-weight: bold;
      font-size: 22px;
    }

    .icon {
        width: 60%;
        height: 60%;
        border-radius: 25%;
    }

    .dropdown {
        flex-direction: row;
        transition: transform 300ms ease-in-out;
        border-color: var(--matrix-green);
        border-width: 2px;
        border-radius: 20px;
    }

    .dropdown:hover {
      transform: translateY(-5px);
      animation-duration: 300ms;
      box-shadow: 0 0 15px rgba(0, 255, 65, 0.5);
    }

    .dropdown .info {
      background-color: black;
      width: 100%;
      max-width: 1000px;
      min-height: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      transition: border-radius 0s ease-in-out 0.5s;
    }

    .dropdown .info.open {
      border-radius: 20px 20px 0 0;
      transition: border-radius 0s linear 0s;
    }
  
    .dropdown p{
      display: block;
      color: var(--matrix-green);
      text-decoration: none;
      padding: 10px 15px;
    }
  
    .dropdown .content {
      max-height: 0;
      overflow: hidden;
      background-color: black;
      transition: max-height 0.5s ease-in-out, padding;
      width: 100%;
      max-width: 1000px;
      border-radius: 0 0 20px 20px;
    }

    .dropdown .content.open {
      max-height: 10000px;
    }

    .demo-content {
      padding: 20px;
      display: grid;
      justify-items: center;
      row-gap: 50px;
      column-gap: 100px;
    }

    .mobile-vertical .demo-content {
      grid-template-columns: repeat(2, 1fr);
    }

    .mobile-horizontal .demo-content {
      grid-template-columns: repeat(1, 1fr);
    }

    .web-vertical {
      grid-template-columns: repeat(1, 1fr);
    }

    .web-horizontal {
      grid-template-columns: repeat(1, 1fr);
    }

    .technologies {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      padding: 10px 20px 10px 20px;
      gap: 10px;
    }

    .technology {
      border-width: 2px;
      border-radius: 10px;
      border-color: var(--matrix-green);
    }

    a.technology{
      padding: 10px 10px;
        white-space: normal;
    }
</style>